.timer {
    margin: 100px auto;
}

.timer-button-wrapper {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-timer {
    border-radius: 10px;
    width: 80px;
    height: 40px;
    margin: 15px;
    background: none;
    border-color: #610044;
    color: #610044;
}

.dark .input-timer {
    background: none;
    border-color: #A1E0FF;
    color: #A1E0FF;
}

.timer-button {
    margin: 15px;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #610044;
    border: none;
    color: white;
    box-shadow: 5px 5px 8px #610044;
}

.timer-button:hover {
    background-color: #EC9DF5;
    color: #610044;
    box-shadow: 5px 5px 8px #610044;
    font-weight: bold;
}

.timer-button:active {
    background-color: #610044;
    color: white;
    box-shadow: none;
    font-weight: bold;
}

.dark .timer-button {
    background-color: #A1E0FF;
    color: #010487;
    box-shadow: 5px 5px 8px #010487;
    font-weight: bold;
}

.dark .timer-button:hover {
    background-color: #010487;
    color: #A1E0FF;
    box-shadow: 5px 5px 8px #010487;
    font-weight: bold;
}

.dark .timer-button:active {
    background-color: #A1E0FF;
    color: #010487;
    box-shadow: none;
    font-weight: bold;
}

.alarm {
    visibility: hidden;
}